<!DOCTYPE html>
<html>
    <head>
    	<title>About</title>
   <!--  <link rel="icon" href="/img/weather.png"> -->

    	<link rel="stylesheet" href="/css/style.css">

        {{>header}}
    </head>
    <body>
     <!--  <h1>this is dynamic about </h1> -->

      <img class="imag-me" src="/img/me.jfif">

      
        <p class="about-apargraph">  Moussaoui Abdeslam </p>
        <p class="about-apargraph">  Research student in Blockchain </p>
      
          </body>
</html>