<!DOCTYPE html>
<html>
<head>
<title>My portfolio</title> 
<link rel="stylesheet" href="/css/style.css">
   {{>header}}
</head>
          
<body>

<footer></footer>
<script src="/js/app.js"></script> 
</body>    





</html>

