
<div class="menu">
  
<ul>
  
  <li ><a href="/"> Home </a></li>
  <li><a href="/about"> About me </a></li>
    <!-- <div class="sub-blog">
    <ul>
      <li>first blog</li>
      <li>second blog</li>
    </ul>
    </div> -->
  </li>
  <li><a href="https://www.linkedin.com/feed/" target="_blank">Linkedin</a></li>
</ul>

</div>
</header>